#fundo.style_395 {
	content: "Moderate or heavy snow in area with thunder";
	background: url('../img/10.jpg') right 0px no-repeat;
}
#fundo.style_392 {
	content: "Patchy light snow in area with thunder";
	background: url('../img/10.jpg') right 0px no-repeat;
}
#fundo.style_389 {
	content: "Moderate or heavy rain in area with thunder";
	background: url('../img/10.jpg') right 0px no-repeat;
}
#fundo.style_386 {
	content: "Patchy light rain in area with thunder";
	background: url('../img/10.jpg') right 0px no-repeat;
}
#fundo.style_377 {
	content: "Moderate or heavy showers of ice pellets";
	background: url('../img/21.jpg') right 0px no-repeat;
}
#fundo.style_374 {
	content: "Light showers of ice pellets";
	background: url('../img/21.jpg') right 0px no-repeat;
}
#fundo.style_371 {
	content: "Moderate or heavy snow showers";
	background: url('../img/21.jpg') right 0px no-repeat;
}
#fundo.style_368 {
	content: "Light snow showers";
	background: url('../img/21.jpg') right 0px no-repeat;
}
#fundo.style_365 {
	content: "Moderate or heavy sleet showers";
	background: url('../img/21.jpg') right 0px no-repeat;
}
#fundo.style_362 {
	content: "Light sleet showers";
	background: url('../img/21.jpg') right 0px no-repeat;
}
#fundo.style_359 {
	content: "Torrential rain shower";
	background: url('../img/24.jpg') right 0px no-repeat;
}
#fundo.style_356 {
	content: "Moderate or heavy rain shower";
	background: url('../img/16.jpg') right 0px no-repeat;
}
#fundo.style_353 {
	content: "Light rain shower";
	background: url('../img/18.jpg') right 0px no-repeat;
}
#fundo.style_350 {
	content: "Ice pellets";
	background: url('../img/8.jpg') right 0px no-repeat;
}
#fundo.style_338 {
	content: "Heavy snow";
	background: url('../img/21.jpg') right 0px no-repeat;
}
#fundo.style_335 {
	content: "Patchy heavy snow";
	background: url('../img/21.jpg') right 0px no-repeat;
}
#fundo.style_332 {
	content: "Moderate snow";
	background: url('../img/21.jpg') right 0px no-repeat;
}
#fundo.style_329 {
	content: "Patchy moderate snow";
	background: url('../img/22.jpg') right 0px no-repeat;
}
#fundo.style_326 {
	content: "Light snow";
	background: url('../img/23.jpg') right 0px no-repeat;
}
#fundo.style_323 {
	content: "Patchy light snow";
	background: url('../img/22.jpg') right 0px no-repeat;
}
#fundo.style_320 {
	content: "Moderate or heavy sleet";
	background: url('../img/21.jpg') right 0px no-repeat;
}
#fundo.style_317 {
	content: "Light sleet";
	background: url('../img/21.jpg') right 0px no-repeat;
}
#fundo.style_314 {
	content: "Moderate or Heavy freezing rain";
	background: url('../img/16.jpg') right 0px no-repeat;
}
#fundo.style_311 {
	content: "Light freezing rain";
	background: url('../img/9.jpg') right 0px no-repeat;
}
#fundo.style_308 {
	content: "Heavy rain";
	background: url('../img/20.jpg') right 0px no-repeat;
}
#fundo.style_305 {
	content: "Heavy rain at times";
	background: url('../img/20.jpg') right 0px no-repeat;
}
#fundo.style_302 {
	content: "Moderate rain";
	background: url('../img/15.jpg') right 0px no-repeat;
}
#fundo.style_299 {
	content: "Moderate rain at times";
	background: url('../img/15.jpg') right 0px no-repeat;
}
#fundo.style_296 {
	content: "Light rain";
	background: url('../img/18.jpg') right 0px no-repeat;
}
#fundo.style_293 {
	content: "Patchy light rain";
	background: url('../img/17.jpg') right 0px no-repeat;
}
#fundo.style_284 {
	content: "Heavy freezing drizzle";
	background: url('../img/16.jpg') right 0px no-repeat;
}
#fundo.style_281 {
	content: "Freezing drizzle";
	background: url('../img/15.jpg') right 0px no-repeat;
}
#fundo.style_266 {
	content: "Light drizzle";
	background: url('../img/14.jpg') right 0px no-repeat;
}
#fundo.style_263 {
	content: "Patchy light drizzle";
	background: url('../img/13.jpg') right 0px no-repeat;
}
#fundo.style_260 {
	content: "Freezing fog";
	background: url('../img/12.jpg') right 0px no-repeat;
}
#fundo.style_248 {
	content: "Fog";
	background: url('../img/12.jpg') right 0px no-repeat;
}
#fundo.style_230 {
	content: "Blizzard";
	background: url('../img/11.jpg') right 0px no-repeat;
}
#fundo.style_227 {
	content: "Blowing snow";
	background: url('../img/11.jpg') right 0px no-repeat;
}
#fundo.style_200 {
	content: "Thundery outbreaks in nearby";
	background: url('../img/10.jpg') right 0px no-repeat;
}
#fundo.style_185 {
	content: "Patchy freezing drizzle nearby";
	background: url('../img/9.jpg') right 0px no-repeat;
}
#fundo.style_182 {
	content: "Patchy sleet nearby";
	background: url('../img/8.jpg') right 0px no-repeat;
}
#fundo.style_179 {
	content: "Patchy snow nearby";
	background: url('../img/7.jpg') right 0px no-repeat;
}
#fundo.style_176 {
	content: "Patchy rain nearby";
	background: url('../img/6.jpg') right 0px no-repeat;
}
#fundo.style_143 {
	content: "Mist";
	background: url('../img/5.jpg') right 0px no-repeat;
}
#fundo.style_122 {
	content: "Overcast";
	background: url('../img/4.jpg') right 0px no-repeat;
}
#fundo.style_119 {
	content: "Cloudy";
	background: url('../img/3.jpg') 0px 0px no-repeat;
}
#fundo.style_116 {
	content: "Partly Cloudy";
	background: url('../img/2.jpg') right top no-repeat;
}
#fundo.style_113 {
	content: "Clear/Sunny";
	background: url('../img/1.jpg') 0px 0px no-repeat;
}
.error {
	background: url('../img/error.jpg') right 0px no-repeat;
	background-size: 850px;
}
.error .inner {
	padding: 100px inherit;
}



p.style_395 span {
	content: "Moderate or heavy snow in area with thunder";
	background-position: -79px -178px;
}
p.style_392 span {
	content: "Patchy light snow in area with thunder";
	background-position: -79px -178px;
}
p.style_389 span {
	content: "Moderate or heavy rain in area with thunder";
	background-position: -79px -178px;
}
p.style_386 span {
	content: "Patchy light rain in area with thunder";
	background-position: -79px -178px;
}
p.style_377 span {
	content: "Moderate or heavy showers of ice pellets";
	background-position: -158px -178px;
}
p.style_374 span {
	content: "Light showers of ice pellets";
	background-position: -158px -178px;
}
p.style_371 span {
	content: "Moderate or heavy snow showers";
	background-position: -158px -178px;
}
p.style_368 span {
	content: "Light snow showers";
	background-position: -158px -178px;
}
p.style_365 span {
	content: "Moderate or heavy sleet showers";
	background-position: -158px -178px;
}
p.style_362 span {
	content: "Light sleet showers";
	background-position: -158px -178px;
}
p.style_359 span {
	content: "Torrential rain shower";
	background-position: -391px -95px;
}
p.style_356 span {
	content: "Moderate or heavy rain shower";
	background-position: -391px -95px;
}
p.style_353 span, p.style_176 span {
	content: "Light rain shower";
	background-position: -391px -95px;
}
p.style_350 span {
	content: "Ice pellets";
	background-position: -158px -178px;
}
p.style_338 span {
	content: "Heavy snow";
	background-position: -158px -178px;
}
p.style_335 span {
	content: "Patchy heavy snow";
	background-position: -158px -178px;
}
p.style_332 span {
	content: "Moderate snow";
	background-position: -158px -178px;
}
p.style_329 span {
	content: "Patchy moderate snow";
	background-position: -158px -178px;
}
p.style_326 span {
	content: "Light snow";
	background-position: -158px -178px;
}
p.style_323 span {
	content: "Patchy light snow";
	background-position: -158px -178px;
}
p.style_320 span {
	content: "Moderate or heavy sleet";
	background-position: -158px -178px;
}
p.style_317 span {
	content: "Light sleet";
	background-position: -158px -178px;
}
p.style_314 span {
	content: "Moderate or Heavy freezing rain";
	background-position: -391px -95px;
}
p.style_311 span {
	content: "Light freezing rain";
	background-position: -391px -95px;
}
p.style_308 span {
	content: "Heavy rain";
	background-position: -391px -95px;
}
p.style_305 span {
	content: "Heavy rain at times";
	background-position: -391px -95px;
}
p.style_302 span {
	content: "Moderate rain";
	background-position: -391px -95px;
}
p.style_299 span {
	content: "Moderate rain at times";
	background-position: -391px -95px;
}
p.style_296 span {
	content: "Light rain";
	background-position: -391px -95px;
}
p.style_293 span {
	content: "Patchy light rain";
	background-position: -391px -95px;
}
p.style_284 span {
	content: "Heavy freezing drizzle";
	background-position: -391px -95px;
}
p.style_281 span {
	content: "Freezing drizzle";
	background-position: -391px -95px;
}
p.style_266 span {
	content: "Light drizzle";
	background-position: -391px -95px;
}
p.style_263 span {
	content: "Patchy light drizzle";
	background-position: -391px -95px;
}
p.style_260 span {
	content: "Freezing fog";
	background-position: -158px -105px;
}
p.style_248 span {
	content: "Fog";
	background-position: -158px -105px;
}
p.style_230 span {
	content: "Blizzard";
	background-position: -158px -178px;
}
p.style_227 span {
	content: "Blowing snow";
	background-position: -158px -178px;
}
p.style_200 span {
	content: "Thundery outbreaks in nearby";
	background-position: -4px -181px;
}
p.style_185 span {
	content: "Patchy freezing drizzle nearby";
	background-position: -158px -178px;
}
p.style_182 span {
	content: "Patchy sleet nearby";
	background-position: -158px -178px;
}
p.style_179 span {
	content: "Patchy snow nearby";
	background-position: -158px -178px;
}
/* p.style_176 span {
	content: "Patchy rain nearby";
	background-position: 0 0;
} */
p.style_143 span {
	content: "Mist";
	background-position: -158px -105px;
}
p.style_122 span {
	content: "Overcast";
	background-position: -158px -105px;
}
p.style_119 span {
	content: "Cloudy";
	background-position: -158px -105px;
}
p.style_116 span {
	content: "Partly Cloudy";
	background-position: -82px -13px;
}
p.style_113 span {
	content: "Clear/Sunny";
	background-position: -2px -13px;
}



